# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Node dependencies & Build
node_modules/
dist/
dist-ssr/
*.local

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
backend-python/uploads/
backend-node/uploads/

# Scratch & IDE
scratch/
.DS_Store
.vscode/
.idea/
